@model CarRental.Application.Features.Booking.Queries.BookingViewModel

@{
    ViewData["Title"] = "Create booking";
    var vehicles = Model.Vehicles.Select(c => new SelectListItem($"{c.Make} {c.Model} {c.PlateNumber}", c.VehicleId.ToString()));
    var categories = Model.Categories.Select(c => new SelectListItem(c.Name, c.CategoryId.ToString()));
}

<h1>Create booking</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label">First name</label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label">Last name</label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PersonalIdentityNumber" class="control-label">Personal identity number</label>
                <input asp-for="Customer.PersonalIdentityNumber" class="form-control" />
                <span asp-validation-for="Customer.PersonalIdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickUpDateTime" class="control-label">Pickup date</label>
                <input asp-for="PickUpDateTime" value="@DateTime.Now" class="form-control" />
                <span asp-validation-for="PickUpDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MileageReading" class="control-label">Mileage reading</label>
                <input asp-for="MileageReading" class="form-control" />
                <span asp-validation-for="MileageReading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.VehicleId" class="control-label">Vehicle and plate number</label>
                <select asp-for="Vehicle.VehicleId" class="form-control" asp-items="vehicles"></select>
                <span asp-validation-for="Vehicle.VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryId" class="control-label">Category</label>
                <select asp-for="Category.CategoryId" class="form-control" asp-items="categories"></select>
                <span asp-validation-for="Category.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
