@model decimal

@{
    ViewData["Title"] = "Pay";
}

<h1>Rental cost</h1>
<hr />
<div class="row">
    <h2 class="col-md-4 align-content-center alert-info">
        Total: @Model
    </h2>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
